/* .container {
    display: flex;
    justify-content: center;
} */

.container-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}

.heading-one {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.label-contact {
    font-weight: 530;
    font-size: 15px;
}

.input-contact {
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
}

.submit-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #111727;
    color: white;
    border-radius: 20px;
    width: 90px;
    align-content: end;
    font-weight: bold;
}

.right-position {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}